.parking-slot {
    background-color: lightyellow;
    padding: 10px;
    height: 10%;
    margin: 5px;
    display: inline-block
}

.horizontal-slot {
    width: 10%;
}

.vertical-slot {
    width: 29.5%;
}

.area-three {
    width: 20%;
    margin: 5px 6px;
}