<p>
    <mat-toolbar color="primary">
        <span>Parking System Demo</span>
    </mat-toolbar>
</p>

<div style="padding: 10px;">
    <div id="parkingLotMap">
        <!-- 1st row -->
        <div id="firstRow" class="parking-slot-padding">
            <div id="slot1" (click)="unparkVehicle($event)" class="parking-slot horizontal-slot med">slot</div>
            <div id="slot2" (click)="unparkVehicle($event)" class="parking-slot horizontal-slot lrg">slot</div>
            <div id="slot3 med" (click)="unparkVehicle($event)" class="parking-slot horizontal-slot">slot</div>
            <div id="slot4" (click)="unparkVehicle($event)" class="parking-slot horizontal-slot">slot</div>
            <div id="slot5" (click)="unparkVehicle($event)" class="parking-slot horizontal-slot">slot</div>
            <div id="slot6 lrg" (click)="unparkVehicle($event)" class="parking-slot horizontal-slot">slot</div>
        </div>
        <div id="entranceC" class="entrance">Entrance C</div>
        <div class="parking-slot-padding upper-right-slot">
            <div id="slot7" (click)="unparkVehicle($event)" class="parking-slot med" style="width:50%">slot</div>
        </div>
        <!-- 2nd row -->
        <div id="secondRow">
            <div class="entrance">Entrance A</div>
        </div>
        <div class="parking-slot-padding upper-right-slot">
            <div id="slot8" (click)="unparkVehicle($event)" class="parking-slot med" style="width:50%">slot</div>
        </div>
        <!-- 3rd row -->
        <div class="parking-slot-padding lower-left-slot">
            <div id="slot9" (click)="unparkVehicle($event)" class="parking-slot vertical-slot">slot</div>
            <div id="slot10" (click)="unparkVehicle($event)" class="parking-slot vertical-slot med">slot</div>
        </div>
        <div class="entranceB-pathway">
        </div>
        <div class="parking-slot-padding lower-right-slot">
            <div id="slot11" (click)="unparkVehicle($event)" class="parking-slot area-three">slot</div>
            <div id="slot12" (click)="unparkVehicle($event)" class="parking-slot area-three lrg">slot</div>
            <div id="slot13" (click)="unparkVehicle($event)" class="parking-slot area-three med">slot</div>
        </div>
        <!-- 4th row -->
        <div class="parking-slot-padding lower-left-slot">
            <div id="slot14" (click)="unparkVehicle($event)" class="parking-slot vertical-slot med">slot</div>
            <div id="slot15" (click)="unparkVehicle($event)" class="parking-slot vertical-slot">slot</div>
        </div>
        <div class="entranceB-pathway">
        </div>
        <div class="parking-slot-padding lower-right-slot">
            <div id="slot16" (click)="unparkVehicle($event)" class="parking-slot area-three">slot</div>
            <div id="slot17" (click)="unparkVehicle($event)" class="parking-slot area-three">slot</div>
            <div id="slot18" (click)="unparkVehicle($event)" class="parking-slot area-three">slot</div>
        </div>
        <!-- 5th row -->
        <div class="parking-slot-padding lower-left-slot">
            <div id="slot19" (click)="unparkVehicle($event)" class="parking-slot vertical-slot med">slot</div>
            <div id="slot20" (click)="unparkVehicle($event)" class="parking-slot vertical-slot med">slot</div>
        </div>
        <div id="entranceB" class="entranceB-pathway">Entrance B</div>
        <div class="parking-slot-padding lower-right-slot">
            <div id="slot21 lrg" (click)="unparkVehicle($event)" class="parking-slot area-three">slot</div>
            <div id="slot22 lrg" (click)="unparkVehicle($event)" class="parking-slot area-three">slot</div>
            <div id="slot23" (click)="unparkVehicle($event)" class="parking-slot area-three">slot</div>
        </div>
    </div>
    <div class="parking-form">
        <p>Choose a custom date and time for unparking a <br>vehicle for testing purposes.</p>
        <mat-divider></mat-divider>
        <br>
        <mat-form-field>
            <mat-label>Choose CLOCK OUT date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minClockOutDate" disabled [(ngModel)]="clockOutDate"
                name="datePicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <br><br>
        <mat-form-field>
            <mat-label>CLOCK OUT time</mat-label>
            <input matInput type="time" placeholder="Select a clock out time" [(ngModel)]="clockOutTime"
                name="timePicker">
        </mat-form-field>
        <br>
        <button mat-stroked-button color="accent" (click)="clearClockOutSettings()">Clear</button>
    </div>
    <div class="parking-form">
        <p>
            You can either create a new vehicle by choosing<br>
            a vehicle size, or select a vehicle that was previously<br>
            parked.
        </p>
        <mat-divider></mat-divider>
        <br>
        <mat-form-field *ngIf="existingVehicles.length > 0">
            <mat-label>Previous Vehicles</mat-label>
            <mat-select [(ngModel)]="existingVehicle" name="existingVehicle">
                <mat-option *ngFor="let vehicle of existingVehicles" [value]="vehicle">
                    {{vehicle.id}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Vehicle size</mat-label>
            <mat-select [(ngModel)]="vehicleSize" name="vehicleSize">
                <mat-option *ngFor="let size of VEHICLE_SIZES" [value]="size">
                    {{size}}
                </mat-option>
            </mat-select>
        </mat-form-field><br>
        <button mat-stroked-button color="accent" (click)="parkVehicle(vehicleSize)">Park Vehicle</button>
        <br><br>
        <p #receiptText style="visibility: hidden;">You owe {{finalCharge}} PHP</p>
    </div>
</div>